body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #1f1c1c;
}

.base-margin {
    margin-left: $base-margin;
    margin-right: $base-margin;
}

@media (min-width: 100rem) {
    .container--big {
        width: 90rem;
        margin: 0 auto;

        .services,
        .works,
        .team,
        .home__intro,
        .home__works,
        .home__join {
            margin: 2rem 0;
        }

        .typeContainer {
            margin: 2rem 0;
        }
    }
}