.footer {
    background: $main-black;
    color: $main-white;
    padding: $base-margin;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &__inner {
        margin: 0 auto;
        width: 90rem;
        max-width: 100%;
    }
}