header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
    .logo {
        position: relative;
        height: max-content;
        transform: translate(0%, -100%);
        font-family: 'Crimson Text';
        
        &__fullname {
            display: inline-block;
            position: relative;
        }

        &__firstname {
            font-family: 'Montserrat';
            font-size: 7rem;
            text-transform: uppercase;
            line-height: .8;
        }

        &__lastname {
            padding-right: 1.6rem;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -30%);
            text-align: right;
            font-size: 2.5rem;
            line-height: .8;
            background-color: $main-beige;
        }

        &__hashtag {
            display: none;
            position: absolute;
            bottom: -60%;
            left: 10%;
            font-size: 16.6rem;
            line-height: .5;
        }

        &__role {
            position: absolute;
            top: -200%;
            left: 3%;
            display: flex;
            flex-direction: column;
            font-size: 4.2rem;
            font-style: italic;
            line-height: .9;
        }
    }
}

@media (min-width: $media-small){
    header {        
        .logo {            
    
            &__role {
                top: 100%;
                left: inherit;
                right: -25%;
            }
        }
    }

}


@media (min-width: $media-big){
    header {        
        .logo {            
    
            &__firstname {
                font-size: 15rem;
            }
    
            &__lastname {
                font-size: 4.875rem;
            }
    
            &__hashtag {
                display: inline-block;
                font-size: 16.6rem;
            }
    
            &__role {
                top: 100%;
                left: inherit;
                right: -15%;
                font-size: 6.2rem;
            }
        }
    }
}
