<!doctype html>
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow" />
        {% include "components/seo.njk" %}
        {% include "components/icons.njk" %} 
        <link type="text/plain" rel="author" href="{{ '/humans.txt' | url }}" />       
        <link rel="stylesheet" href="{{ '/static/css/main.css' | url }}">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
    </head>
    <body class="{{ templateClass }}">
        {% if page.url === '/' %}
            {% include "components/header.njk" %}
        {% endif %}

        {% if page.url !== '/' %}
            {% include "components/headerSmall.njk" %}
        {% endif %}

        <main class="main container--big">
            {% if page.url !== '/' %}
                <div class="typeContainer title-typer">
                    <h2>Our <span class="typer"></span></h2>
                </div>
            {% endif %}
            {{ content | safe }}
        </main>
        {% include "components/footer.njk" %}
        <script src="{{ '/static/js/main.js' | url }}" type="module"></script>
    </body>
</html>