---
layout: layouts/base.njk
title: Home
---

<main>
  <h1 class="screen-read">Portfolio site Bram Vandenbussche</h1>
  <section id="about">
    <article class="h-layout">
      <div>
        <h2>[01] About</h2>
      </div>
      
      <div>
      
      </div>
    </article>
  </section>

  <section id="works">
    <article class="h-layout">
    
    </article>
  </section>

  <section id="contact">
    <article class="h-layout">
    
    </article>
  </section>
</main>