.home {
    h2 {
        color: $accent-blue;
        margin-bottom: 2rem;
    }
    
    p,
    a {
        color: $main-white;
        margin-bottom: 0;
    }

    a {
        transition: 0.2s ease;
        font-size: 1.2rem;

        &:hover {
            text-decoration: none;
        }
    }

    ul {
        padding: 0;
    }

    .works {
        padding-top: 3rem;
        padding-bottom: 3rem;
        opacity: 0;
        transform: translateY(-1rem);
        transition: 2s ease;
        will-change: transform, opacity;
    }

    &__intro {
        margin: 3rem 2rem;
        max-width: 80rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
        opacity: 0;
        transform: translateY(-1rem);
        transition: 2s ease;
        will-change: transform, opacity;

        a {
            background-color: $accent-blue;
            border-radius: 1rem;
            padding: 1rem;
            font-weight: bold;

            &:hover {
                background-color: $main-white;
                color: $accent-blue;
            }
        }

        &__text {
            margin-bottom: 2rem;
        }
    }

    &__join {
        margin: 0 2rem;
        margin-bottom: 2rem;
        opacity: 0;
        transform: translateY(-1rem);
        transition: 2s ease;
        will-change: transform, opacity;

        &__link-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        a {
            margin-right: 2rem;
            background-color: $accent-blue;
            border-radius: 1rem;
            padding: 1rem;
            font-weight: bold;
            width: 100%;
            margin-bottom: 1rem;
            text-align: center;

            &:hover {
                background-color: $main-white;
                color: $accent-blue;
            }
        }
    }

    &__works {
        padding-top: 3rem;
        margin: 0 2rem;
        opacity: 0;
        transform: translateY(-1rem);
        transition: 2s ease;
        will-change: transform, opacity;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            li {
                width: 12%;
                margin-bottom: 2rem;

                img {
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}

.home {
    .is-visible {
        opacity: 1;
        transform: translateY(1rem);
    }
}

@media (min-width: $media-small) {
    .home {
        &__join {
            a {
                width: max-content;
                margin-bottom: 0;
            }
        }
    }
}

.wrapper {
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ball {

        animation-name: float;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background-color: black;
    }

    .shadow {
        animation-name: floatshadow;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        display: block;
        background-color: black;
        width: 10rem;
        height: 1rem;
        border-radius: 50%;
        opacity: .5;  
    }
}

@keyframes float {
    from {transform: translateY(0);}
    50% {transform: translateY(-30%);}
    to {transform: translateY(0);}
}

@keyframes floatshadow {
    from {width: 10rem;}
    50% {width: 8.5rem}
    to {width: 10rem;}
}