.team {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__name {
        font-weight: bold;
    }

    article {
        width: 45%;
        margin-bottom: 3rem;
        text-align: center;
        color: $main-white;
        cursor: pointer;

        p {
            filter: brightness(80%);
            transition: 0.2s ease;
        }

        .img-container {
            img {
                object-fit: cover;
                width: 75%;
                border-radius: 100%;
                margin-bottom: 1rem;
                filter: brightness(50%) blur(.06rem);
                transition: 0.2s ease;
                border: solid 3px $accent-blue;
            }
        }

        &:hover img {
            filter: brightness(100%);
        }

        &:hover p {
            filter: brightness(100%);
        }
    }
}

@media (min-width: $media-small) {
    .team {
        article {
            width: 30%;
        }
    }
}

@media (min-width: $media-medium) {
    .team {
        article {
            width: 18%;
        }
    }
}