.work-detail {
    margin: $base-margin;
    margin-top: 3rem;

    h1,
    h2 {
        color: $accent-blue;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h2,
    h3 {
        color: #b0c2c7;
    }

    p {
        color: $main-white;
    }

    article {
        max-width: 100%;
        margin-bottom: 3rem;
    }

    ul {
        padding: 0;
    }

    li {
        list-style: none;
        color: $main-white;
    }

    .works {
        margin: 0;
    }
}

@media (min-width: $media-medium) {
    .work-detail {
        article {
            max-width: 80%;
        }
    }
}

@media (min-width: $media-big) {
    .work-detail {
        article {
            max-width: 60%;
        }
    }
}