---
layout: layouts/base.njk
title: Contact
eleventyNavigation:
  key: Contact
  order: 5
---
<section class="contact">
  <div class="contact__left">
    <h2>Contact information</h2>
    <ul>
      <li>
        Email: thefellowship@digital-agency.company
      </li>

      <li>
        Whatsapp: +32-000-000
      </li>

      <li>
        Office Hours : Monday to Friday - 0900h - 1700h
      </li>
    </ul>
    
    <div id="map"></div>
  </div>

  <form action="" class="contact__right">
    <h2>Send us a message</h2>
    <fieldset>
      <label for="user__first-name">First name*:</label>
      <input type="text" name="user__first-name" id="user__first-name" placeholder="John" required>
      
      <label for="user__last-name">Last name*:</label>
      <input type="text" name="user__last-name" id="user__last-name" placeholder="Doe" required>
      
      <label for="user__email-adress">Email adress*:</label>
      <input type="email" name="user__email-adress" id="user__email-adress" placeholder="JohnDoe@example.com" required>

      <label for="phone">Phone number(optional):</label>
      <input type="tel" id="user__phone" name="user__phone" pattern="+32[0-9]{3}-[0-9]{2}-[0-9]{2}-[0-9]{2}" placeholder="+32000 00 00 00"> 
    </fieldset>

    <fieldset>
      <label>
        Choose the subject of your message
        <div class="select-wrapper">
          <select name="user__message-subject" id="user__message-subject" required>
            <option value="general-message">General message</option>
            <option value="feedback">Feedback</option>
            <option value="bug-report">Bug report</option>
            <option value="job-application">Job application</option>
          </select>
        </div>
      </label>
    </fieldset>

    <fieldset>
      <label for="user__message">Message</label>
      <textarea name="user__message" id="user__message" cols="30" rows="10" placeholder="Message"></textarea>
    </fieldset>

    <fieldset id="file-field" class="hidden">
      <label for="user__file">Add your CV</label>
      <input type="file" name="user__file" id="user__file">
    </fieldset>

    <button>Submit</button>
  </form>
</section>