<header>
    <div class="logo">
        <div class="logo__fullname">
            <span class="logo__firstname">bram</span>
            <span class="logo__lastname">Vandenbussche</span>
        </div>

        <div class="logo__hashtag">#</div>

        <div class="logo__role">
            <span>Full</span>
            <span>Stack</span>
            <span>Dev</span>
        </div>

        {% include "components/navigation.njk" %}
    </div> 
</header>