<header class="header">    
    <div class="container-fluid">
        <div class="text-container">
        <div class="text-container__inner row justify-content-between">        
            <h1 class="col logo">
                <a href="{{ '/' | url }}" title="Back to the homepage of the {{ site.subdomain }}">
                    TheFellowship
                </a>
            </h1>
            
            {% include "components/navigation.njk" %}
        </div>
        </div>

        <div class="img-container">
            <div class="typeContainer">
                <h2>Welcome to <span class="typer typer-home"></span></h2>
            </div>
        </div>
    </div>
</header>