    <nav>
        <ul>
            <li>
                <a href="#about">About / [01]</a>
            </li>

            <li>
                <a href="#skills">Skills / [02]</a>
            </li>

            <li>
                <a href="#works">Works / [03]</a>
            </li>

            <li>
                <a href="#contact">Contact / [04]</a>
            </li>
        </ul>
    </nav>

