.footer {
    &-logo {
        color: $accent-blue;
        font-size: 1.5rem;
    }

    section {
        margin-bottom: 3rem;
    }

    .socials {
        &__img-container {
            display: flex;
            flex-wrap: wrap;
            padding-top: 0.3rem;

            a {
                width: min-content;
                margin-right: 1.5rem;
                 
                &:hover svg {
                    fill: $accent-blue;
                }
            }

            svg {
                width: 3rem;
                fill: $main-white;
                transition: 0.2s ease;
            }
        }
    }
}

@media (min-width: $media-medium) {
    .footer {
        &__inner {
            display: flex;
            flex-wrap: wrap;
        }

        section {
            margin-right: 4rem;
        }

        section:last-child {
            margin-right: 0;
        }
    }
}