.footer-nav {
    --nav-spacing: #{$spacing*1px};

    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        list-style: none;
        margin: 0;
        padding: 0;

        &-item {
            font-family: $font-family-montserrat;
            font-size: 18px;
            font-weight: 500;

            > a {
                position: relative;
                display: block;
                color: $gray-100;
               
                padding: 0.3rem;
                padding-left: 0;
                transition: 0.2s ease;
                text-decoration: none; 

                &:hover {
                    color: $accent-blue;
                }
            }

            &--active {
                > a {
                    color: $accent-blue;
                }
            }
        }
    }
}