.title-typer {
    margin: $base-margin;

    h2 {
        color: $accent-blue;
        font-size: 2rem;
    }

    span {
        color: $main-white;
        &::after {
            content: "";
            position: absolute;
            width: 0.2rem;
            margin-left: 0.4rem;
            height: 2.7rem;
            border-right: solid 4px $accent-blue;
            animation: flicker 0.75s infinite ease;
        }
    }
}